{% extends 'header.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MigrAI | Login</title>
    <style>
      p {
        margin: 15px;
      }
      form {
        margin: 15px;
      }
      h2 {
        margin: 15px;
      }
    </style>
    
</head>
<body>
    <h2>Login</h2>
    <p>
      <form method="post" action="{{ url_for('login') }}">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required><br>
          <input type="checkbox" id="remember" checked>
          <label for="remember">Remember me</label><br>
          <button type="submit">Login</button>
      </form>
    </p>
    <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
{% include 'footer.html' %}
{% endblock %}

